<div class="mb-10 md:mb-12">
    <h2 class="text-lg md:text-xl border-b-2 border-gray-700 font-medium mb-2">
        {{ project.name }}

        <div class="float-right font-light text-base overflow-scroll">
            {{ include('partials/tags.twig', {tags: project.tags}) }}
        </div>
    </h2>

    <div class="flex flex-wrap">
        {% for img in project.images %}
            <a href="{{ img.url }}">
                <img src="{{ img.url }}" alt="" class="object-cover rounded border border-2 border-gray-600 mx-1 mb-1" style="max-width: 60px;" />
            </a>
        {% endfor %}
    </div>

    <p>{{ project.summary | nl2br }}</p>

    {% if project.url %}
        <div class="mt-3 relative" style="left: -12px;">
            <span class="icon fill-current text-yellow-600">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="greater-than" class="w-2 inline" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M365.52 209.85L59.22 67.01c-16.06-7.49-35.15-.54-42.64 15.52L3.01 111.61c-7.49 16.06-.54 35.15 15.52 42.64L236.96 256.1 18.49 357.99C2.47 365.46-4.46 384.5 3.01 400.52l13.52 29C24 445.54 43.04 452.47 59.06 445l306.47-142.91a32.003 32.003 0 0 0 18.48-29v-34.23c-.01-12.45-7.21-23.76-18.49-29.01z"></path></svg>
            </span>
            <a href="{{ project.url }}" target="_blank" class="text-xs md:text-sm underline font-medium">
                {{ project.url }}
            </a>
        </div>
    {% endif %}
</div>
