{% extends "layouts/root.twig" %}

{% block body %}

    <body class="min-h-screen text-black dark:text-gray-300 font-sans bg-gray-100 dark:bg-gray-800 text-right md:text-left pr-6 md:pr-0">

    <div class="leading-3 md:leading-normal container mx-auto pt-5 md:pt-32 pl-8">
        <a href="{{ urls.index.href }}" class="inline-block">
            <h1 class="text-3xl md:text-6xl font-extrabold text-black dark:text-white header-border">
                Nathan Boiron
            </h1>
        </a>
        <h2 class="font-bold text-gray-900 dark:text-gray-300 md:text-xl">
            Web dev
            <span class="text-gray-100 dark:text-gray-800 text-sm">ʘ‿ʘ</span>
        </h2>

        {% block content %}{% endblock %}

        <div class="pt-1">
            <ul class="flex flex-col md:flex-row mt-12 md:mt-16 text-3xl md:text-2xl lg:text-3xl">
                {% for name, url in urls %}
                    {% if url.current == false %}
                        <li class="pb-3 md:pb-0 md:pr-3 lg:pr-6">
                            <a href="{{ url.href }}" class="inline-block border-b-8 border-gray-100 dark:border-gray-800 {{ url.colors.home }}">{{ url.label }}</a>
                            {% if loop.last == false %}
                                <span class="md:pl-3 lg:pl-6 hidden md:inline">&bull;</span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="text-4xl mt-8 md:mt-20">
                {{ include('partials/menu/langs.twig') }}
            </div>

            <div class="text-4xl mt-8 md:mt-10">
                {{ include('partials/menu/theme.twig', {size: 'w-10'}) }}
            </div>
        </div>
    </div>

    <a rel="me" href="https://phpc.social/@mopolo" style="display:none;">Mastodon verification</a>

    </body>

{% endblock %}
