{% extends "layouts/root.twig" %}

{% block body %}

    <body class="min-h-screen text-black dark:text-gray-300 leading-normal font-sans">

    <div class="flex flex-col md:flex-row md:h-auto">
        <div class="bg-gray-50 md:bg-gray-100 dark:bg-gray-900" style="min-width: 300px;">

            <div class="mt-2 mb-3 mx-4 md:mx-12 md:mt-20">
                <div class="md:flex">
                    <div class="md:fixed">
                        <div class="leading-3 md:leading-normal">
                            <a href="{{ urls.index.href }}" class="inline-block header-border">
                                <h1 class="text-3xl md:text-5xl font-extrabold text-black dark:text-gray-300 leading-normal md:leading-none">
                                    Nathan<br class="hidden md:inline"/>
                                    Boiron
                                </h1>
                            </a>
                            <h2 class="font-bold">
                                Web dev
                                <span class="text-gray-50 md:text-gray-100 dark:text-gray-900 text-sm">ʘ‿ʘ</span>
                            </h2>
                        </div>

                        <nav class="relative mt-2 dark:text-gray-400">
                            <input type="checkbox" class="hidden" id="main-menu-toggle" />
                            <label for="main-menu-toggle" class="md:hidden absolute right-0 text-right uppercase font-bold" style="top: -3rem;">Menu</label>
                            <div class="main-menu | pt-1 text-right md:text-left">
                                <ul class="flex flex-col mt-1 md:mt-16 md:text-2xl md:leading-relaxed">
                                    {% for name, url in urls %}
                                        <li class="{% if url.current %}font-extrabold {{ url.colors.textlightbg }}{% endif %}">
                                            <a href="{{ url.href }}">{{ url.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div class="text-xl md:text-2xl md:mt-10 absolute top-2 md:static">
                                    {{ include('partials/menu/langs.twig') }}
                                </div>

                                <div class="md:mt-1 absolute top-10 md:static">
                                    {{ include('partials/menu/theme.twig', {size: 'w-6'}) }}
                                </div>

                                <div class="md:block md:fixed md:bottom-0 pb-3 cursor-pointer text-left absolute bottom-0">
                                <pre class="font-mono text-xs" id="duck" aria-hidden="true">  _
<span id="duckface">-</span>(.)__
 (___/
</pre>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>

        </div>

        <div class="bg-gray-100 dark:bg-gray-800 md:flex-grow min-h-screen">
            <div class="md:ml-10 md:pr-10 lg:pr-20" style="max-width: 800px;">

                <div class="mt-4 md:mt-24 px-5 md:px-10">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>
    </div>

    </body>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function () {
            function duckface(face) {
                document.getElementById('duckface').innerHTML = face;
            }

            document.getElementById('duck').addEventListener('click', function() {
                setTimeout(function() { duckface('>'); }, 200);
                setTimeout(function() { duckface('-'); }, 500);
                setTimeout(function() { duckface('>'); }, 800);
                setTimeout(function() { duckface('-'); }, 1100);

                localStorage.removeItem('theme');
            });
        })();
    </script>
{% endblock %}
