{% extends "layouts/main.twig" %}

{% block content %}

    {{ include('partials/title.twig', {title: 'site.pages.contact' | trans}) }}

    <div class="mt-4 md:mt-10">
        <p>
            {{ 'site.pages.contact.email'|trans }} <a id="a-{{ random_string }}" href="" class="border-b-2 border-black dark:border-gray-300"></a>
        </p>

        <p class="mt-8">
            {{ 'site.pages.contact.bluesky'|trans }} <a href="https://bsky.app/profile/{{ data.contact.bluesky }}" class="border-b-2 border-black dark:border-gray-300">@{{ data.contact.bluesky }}</a>
        </p>

        <p class="mt-8">
            {{ 'site.pages.contact.mastodon'|trans }} <a rel="me" href="{{ data.contact.mastodon.url }}" class="border-b-2 border-black dark:border-gray-300">{{ data.contact.mastodon.username }}</a>
        </p>

        <p class="mt-8">
            {{ 'site.pages.contact.linkedin'|trans }} <a href="{{ data.contact.linkedin }}" class="border-b-2 border-black dark:border-gray-300">Linkedin</a>
        </p>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function () {
            const el = document.getElementById('a-{{ random_string }}');
            let e = '{{ data.contact.email }}';
            e = e.substring(5);
            e = e.substring(e.length - 5, 0);
            e = atob(e);
            e = e.substring(5);
            e = e.substring(e.length - 5, 0);

            el.setAttribute('href', 'mailto:' + e);
            el.innerHTML = e;
        })();
    </script>
{% endblock %}
